$border: 1px solid #00C6D6;
$color: #00C6D6;

.container {
  background-color: #FFFFFF;
  margin: 100px 200px;
  width: 450px;
}
.section {
  border: $border;
  max-height: 200px;

  header {
    background-color: $color;
    padding: 10px;
    color: white;
    font-size: 20px;

    &:hover {
      background-color:lighten($color, 4%);
    }
  }
      p {
        padding: 15px;
        margin: 0;
        font-size: 14px;
        color: #A2A0A3;
      }

      .para {
        height: 0;
        overflow: hidden;
      }
}
