$border: 1px solid #00C6D6;
$color: #00C6D6;

.container {
  background-color: #FFFFFF;
  margin: 100px 200px;
  width: 425px;
}
.section {
  border: $border;
}

.para {
  height: 95px;
  overflow: hidden;
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  color: #A2A0A3;
  transition: all 1s ease;

  &.hidden {
    height:0;
  }
}

  header {
    background-color: $color;
    padding: 10px;
    color: white;
    font-size: 20px;

    &:hover {
      background-color:lighten($color, 4%);
      cursor: pointer;
    }
  }
      // p {
      // }

      // .para {
      //   max-height: 30px;
      //   overflow: hidden;
      // }
