.container {
  background-color: #FFFFFF;
  margin: 100px 200px;
  width: 425px; }

.section {
  border: 1px solid #00C6D6; }

.para {
  height: 95px;
  overflow: hidden;
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  color: #A2A0A3;
  transition: all 1s ease; }
  .para.hidden {
    height: 0; }

header {
  background-color: #00C6D6;
  padding: 10px;
  color: white;
  font-size: 20px; }
  header:hover {
    background-color: #00d9ea;
    cursor: pointer; }
