.container {
  background-color: #FFFFFF;
  margin: 100px 200px; }

.section {
  border: 1px solid #00C6D6;
  width: 450px;
  max-height: 200px; }
  .section header {
    background-color: #00C6D6;
    padding: 10px;
    color: white;
    font-size: 20px; }
  .section p {
    padding: 10px 15px;
    font-size: 14px;
    color: #A2A0A3; }
